@import url("https://fonts.googleapis.com/css?family=Lato:400,900|IBM+Plex+Mono");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,600;1,500&display=swap");

* {
  margin: 0;
  color: #787a91;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 1em;
  font-size: 100%;
}

footer {
  position: relative;
  height: 35px;
  width: 100%;
}

p.sitedesc {
  width: 50%;
  font-weight: 498;
  line-height: 40px;
  font-size: 1em;
  text-align: center;
}

p.copyright {
  position: absolute;
  width: 100%;
  font-weight: 498;
  line-height: 40px;
  font-size: 1em;
  text-align: center;
  bottom: 0;
}

.flex-container {
  display: flex;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-side {
  background-color: #cfebe9;
  /* padding: 20px; */
  flex: 1;
  min-height: 60%;
}

/* .flex-side:nth-child(2) {
  background-color: #fdffff;
  flex: 1;
} */

.result {
  background-color: #fdffff;
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
}

@media screen and (max-width: 990px) {
  .container {
    flex-wrap: wrap;
    height: auto;
    display: table;
  }
  .flex-side:first-child {
    flex-basis: 100%;
    min-height: auto;
  }
  .flex-side.result {
    min-height: auto;
  }
  .center-results {
    width: 50%;
    margin: auto;
  }
}

.center-content {
  width: 50%;
  margin: 50px 50px;
  position: relative;
}

.center-content h1 {
  color: #3cb7d4;
  font-size: 5em;
  font-weight: 700;
  text-align: left;
  line-height: 1.1em;
  text-transform: uppercase;
  margin-left: 50px;
}

/* Customize the label (the container) */

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 10px 30px 12px 5px;
  /* margin-top: 20px; */
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 8px;
  left: 6px;
  height: 18px;
  width: 18px;
  border: 1px solid grey;
  background-color: #ddd;
}

/* On mouse-over, add a grey background color */

.container:hover input ~ .checkmark {
  background-color: #aaa;
}

/* When the checkbox is checked, add a blue background */

.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tip {
  font-family: "IBM Plex Mono", monospace;
  color: #787a9194;
  font-size: 0.8em;
  padding-left: 35px;
}

.btn {
  text-transform: uppercase;
  color: #fdffff;
  background-color: #3cb7d4;
  border: 1px solid #3cb7d4;
  outline: 0;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}

.submit-btn {
  font-size: 1.1em;
  margin-top: -10px;
  margin-right: 70px;
  padding: 10px 25px;
  border-radius: 2px;
  float: right;
}

.submit-btn:hover {
  background: #2fce74;
  border: 1px solid #2fce74;
}

.submit-btn:active {
  background: #2fce74;
  border: 1px solid #2fce74;
  padding: 12px 25px 9px;
}

.submit-btn.inactive {
  background-color: #ddd;
  border: 1px solid #ddd;
}

.copy-btn {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px 20px 7px 20px;
  /* 
  padding: 8px 20px 7px 20px;
  margin-left: -3px;
  font-size: 0.9em; */
}

.copy-btn:hover {
  background: transparent;
  color: #76aef1;
  box-shadow: none;

  /* background: #1aaa55;
  border: 1px solid #1aaa55; */
}

.copy-btn:active {
  background: #168f48;
  border: 1px solid #168f48;
  padding: 10px 20px 5px 20px;
}

.password-result {
  margin: 55px auto;
  width: auto;
}

.password-result > input[type="text"] {
  background-color: #fdffff;
  border: 3px solid #ddd;
  outline: 0;
  padding: 5px 10px;
  text-align: center;
  font-size: 1.1em;
  font-family: "IBM Plex Mono", monospace;
  letter-spacing: 0.1em;
}

.password-result > input[type="text"]::selection {
  background: transparent;
}

.password-result > input[type="text"]::-moz-selection {
  background: transparent;
}

.password-result > input[type="text"]:focus {
  background: #eee;
}

/* .center-results {
  width: 37%;
  margin: 37% 37%;
} */
